@page "{name}"
@model Webapp.Pages.Tournaments.TournamentModel
@{
  ViewData["Title"] = "Tournament";
}

<h3>@Model.Tournament.Name</h3>

<h4>Behold the mighty players!</h4>

<ul>
  @foreach (var player in Model.Players)
  {
    <li>@player.Name</li>
  }
</ul>

@if (Model.IsOwner)
{
  <h3>Add one, if thou darest!</h3>
  <form method="post">
  <label asp-for="Input.Name"></label>
  <input asp-for="Input.Name">
  <span asp-validation-for="Input.Name"></span>
  <button type="submit">Add</button>
</form>
}

<h4>And the games they ought to play!</h4>

<ul>
  @foreach (var game in Model.Games)
  {
    @if (Model.IsOwner)
    {
      <li>
        <a asp-area="" asp-page="/Tournaments/Games" asp-route-name=@Model.Tournament.Name
          asp-route-gameName=@game.Name>@game.Name</a>
      </li>
    }
    else
    {

      <li>@game.Name</li>
    }
  }
</ul>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/Tournaments/CreateGame" asp-route-name=@Model.Tournament.Name>Create game</a>
}


<h4>@TempData["FormResult"]</h4>