@page "/tournaments/{tournament}"
@model Webapp.Pages.TournamentModel
@{
  ViewData["Title"] = "Tournament";
}

<h1>@Model.Tournament.Name</h1>

<h2>Players</h2>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/CreatePlayers" asp-route-tournament=@Model.Tournament.Name>Create players</a>
}

<ul>
  @foreach (var player in Model.Players)
  {
    <li>@player.Name</li>
  }
</ul>

<h2>Games</h2>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/CreateGame" asp-route-tournament=@Model.Tournament.Name>Create game</a>
}

<ul>
  @foreach (var game in Model.Games)
  {
    @if (Model.IsOwner)
    {
      <li>
        <a asp-area="" asp-page="/Games" asp-route-tournament=@Model.Tournament.Name asp-route-game=@game.Id>@game.Name</a>
      </li>
    }
    else
    {

      <li>@game.Name</li>
    }
  }
</ul>




<h4>@TempData["FormResult"]</h4>