@using Webapp.Models;
@using System.Web;
@using Microsoft.AspNetCore.Http.Extensions;

@namespace Webapp.Pages.Components
@model PlayerListViewComponentModel

<div class="w-full grid grid-cols-2 px-4 h-full">
  <div class="relative flex top-4 justify-start">
    <div class="w-32 z-10 absolute group border border-stone-900 rounded-md flex flex-col justify-center items-center overflow-hidden bg-stone-100"
  role="button" tabIndex="0">
      <p class="h-8 flex items-center justify-center">@(Model.Player is not null ? Model.Player.Name : "Choose a player")</p>
      <ul class="hidden group-hover:flex group-focus:flex group-active:flex flex-col w-full border-t border-stone-400 justify-center items-center mt-2 pt-2 gap-1 pb-2">
        @if (Model.Players.Count() == 0) {
          <li class="text-stone-400">No players</li>
        }
        @foreach (var player in Model.Players)
        {
          var url = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}?currentPlayerId={player.Id}";
          <li><a href="@url">@player.Name</a></li>
        }
      </ul>
    </div>
  </div>
  @if (Model.Player is not null)
  {
    <p aria-label="player @Model.Player.Name score" class="flex items-center justify-end font-bold text-4xl">@Model.Player.Score</p>
  }
</div>


