@namespace Webapp.Pages
@model TeamPartial


<div class="grid grid-cols-[32px_1fr] gap-2">
  @if (Model.Team.Rank != Model.PreviousRank) {
    @if (Model.Team.Rank is null) {
      <div class="h-8 w-8 border border-stone-900 rounded-full flex items-center justify-center" aria-label="unranked team"><i class="w-4 h-4" data-lucide="circle-slash-2"></i></div>
      <p class="flex items-center text-xl font-bold">unranked</p>
    } else {
      <div class="h-8 w-8 border border-stone-900 rounded-full flex items-center justify-center" aria-label="rank @Model.Team.Rank">@Model.Team.Rank</div>
      <p class="flex items-center text-xl font-bold">@(Model.Team.Result?.Value.ToString() ?? "0")</p>
    }
  }
<a class="col-start-2 grid grid-cols-2 gap-4 items-center w-full border border-stone-900 hover:bg-stone-200 @(Model.CurrentTeam?.Id == Model.Team.Id ? "bg-stone-900 text-stone-100 hover:bg-stone-700" : "") px-2 rounded-md" asp-area="" asp-page="/Team" asp-route-tournamentId=@Model.Tournament.Id asp-route-gameId=@Model.Game.Id
    asp-route-teamId=@Model.Team.Id asp-route-currentPlayerId=@Model.CurrentPlayer?.Id>
  <h2 class="flex items-center justify-start"> 
    Team @Model.Team.Number </h2>

  <div class="flex gap-2 justify-end items-center">
    <div class="flex flex-col text-xs justify-center items-end">
      <p aria-label="team @Model.Team.Number bonus">+@Model.Team.Bonus</p>
      <p aria-label="team @Model.Team.Number malus">-@Model.Team.Malus</p>
    </div>
    <p class="text-4xl font-bold" aria-label="team @Model.Team.Number score">@Model.Team.Score</p>
  </div>
</a>
</div>